h1 {
  color: purple;
  font-style: italic;
  font-size: xx-large;
}
img {
  height: 250px;
  width: 300px;
}

.btn-1 {
  margin: 12px;
  font-size: 10px;
  background-color: rgb(0, 0, 0);
  color: aqua;
  border: 2px solid red;
  border-radius: 10px;
  width: 100px;
  /* display: none; */
}

.btn {
  margin-left: 12px;
  font-size: 10px;
  background-color: rgb(0, 0, 0);
  color: aqua;
  border: 2px solid red;
  border-radius: 10px;
  width: 100px;
  display: none;
}
